# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments & secrets
.env
.venv
env/
venv/
ENV/
*.key

# Data & database mounts
timescale_data/
*.db
*.sqlite3

# IDE & OS files
.vscode/
.idea/
.DS_Store
*.swp
